@import 'variables';
@import 'fonts';
@import 'utility';


.main-header{
    &--post{
       height: 40vh;
       @media(max-width: 1380px){
           height: 60vh;
       }
       @media(max-width:414px){
        height: 56vh;
        }   
    }
    .header{
        &--post{
            margin: 15vh auto auto 15vh;
            @media(max-width: 1380px){
                margin: 20vh auto auto 15vh;
            }
            @media(max-width:414px){
                margin: 0;
            }
        
            
        }
        &__main{
            
            &--post{
                font-size: 125px;
                @media(max-width:414px){
                    font-size: 100px;
                }
            }
        }
        &__sub-header2{
            &--post{
                font-size: 49px;
                letter-spacing: 3px;
                text-align: center;
                margin-left: -15px;
                @media(max-width:414px){
                    font-size: 40px;
                }
            }
        }
       
    }
}

.main{
    &--post{
        margin-top: -3vh;
        position: relative;
        z-index: 9;
        grid-template-rows: 1fr;
        @media(max-width:414px){
            margin-top: -5vh;
        }
    }
    .sidebar{
        &--post{
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
    .post-content{
        margin: 0 4vw;
        padding: 5vh 15vw;
        grid-area: 1/2/2/3;
        background-color:  rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        @include shadow;
        @media(max-width:414px){
            margin-bottom: 2vh;
        }
        &__article{
            position: relative;
            padding-bottom: 10vh;
            height: auto;
            margin-bottom: 5vh;
            &::after{
                content:"";
                display: block;
                height: 2px;
                background-color:$orange-main;
                position: absolute;
                transform: translateX(30%);
                width: 15%;
                bottom: 0;
            }
        }
        &__titles{
            color: $orange-main;
            font-size: $font-texts-size;
            margin: 1rem 0;
        }
    }
    .post-info{
        &__subtitles{
            &--post-cont{
                justify-content: flex-start;
                position: relative;
               
            }
        }
        &__date-author{
            &--post-cont{
                color:$navy-main;
                margin-bottom: 2vh;
            }
        }
    }
    .latest-posts{
        &__details{
            &--post-cont{
                margin-right: 30px;
                &::after{
                    content:"";
                    display: block;
                    height: 2px;
                    background-color:$orange-main;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 15%;
                    margin-top: 5vw;
                }
            }
        }
      
    }
 
}