$navy-main: #34558B;
$navy-dark: #34466C;
$blue: #6EBAF6;
$blue-light: rgba(190,201,217, 0.95);
$orange-main: #FF6F64;
$orange-light: #FEBCB4;
$black: #030303;
$black-transp: rgba(1,1,1, 0.3);
$grey: #E0E1E2;
$white: #FFFFFF;